.building {
  background-color: #fff;
  width: 100%;
}

.building-header,
.building-content {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.building-content {
  align-items: unset;
  padding-bottom: 20px;
}

.building hr {
  border: 0;
  height: 1px;
  background: #92b974;
  width: 100%;
}

.building-header input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #000;
}

.building-content h3 {
  padding: 0;
  margin: 18px 0 0;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filters select {
  padding: 10px;
  min-width: 200px;
  margin: 10px 0;
  outline: none;
}

.buildings {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.grid-cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-card {
  min-width: 15rem;
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.grid-card h5 {
  padding: 0 10px;
  margin: 16px 0;
}

.grid-card img {
  width: 100%;
  height: 180px;
}

.grid-footer {
  display: flex;
  align-items: center;
}

.grid-footer p {
  padding: 0 10px;
  margin: 16px 0;
}
