.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 60px;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
}

.link {
  display: inline-flex;
  margin: 0 30px;
  text-decoration: none;
  color: #92b974;
}

.icons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
