.notification {
  background-color: #fff;
  width: 100%;
  padding: 3px 20px;
}

.notification hr {
  border: 0;
  height: 1px;
  background: #92b974;
  width: 100%;
}

.notification-header,
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-header p {
  margin: 8px 15px;
}

.notification-para {
  margin: 0 !important;
}

table {
  width: 100%;
}

td {
  padding: 0 20px;
}

.icons {
  width: 25px;
}

td p,
td h4 {
  margin: 8px 0;
}
