.notification {
  background-color: #fff;
  width: 100%;
  padding: 3px 20px;
  align-self: start;
}

.notification hr {
  border: 0;
  height: 1px;
  background: #92b974;
  width: 100%;
}

.notification-header,
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options p {
  margin: 8px 45px;
}

.options select {
  padding: 8px;
  max-width: 90px;
  margin: 4px 0 4px 15px;
}

.notification-para {
  margin: 0;
}

table {
  width: 100%;
}

td {
  padding: 0 20px;
}

.icons {
  width: 25px;
}

td p,
td h4 {
  margin: 15px 0;
}
