.recover {
  width: 33%;
  background-color: #fff;
  text-align: center;
  padding: 20px 0 20px;
}

.recover span {
  font-size: 27px;
  margin: 0 3px;
  color: #0f880fba;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form input {
  margin: 15px;
  width: 100%;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 5px;
}

form p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a h4 {
  margin: 10px 0;
}

.recover-btn {
  margin: 20px 0;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #1ab91ac9;
}

.recover-btn a {
  color: #fff;
}
