.dropzone {
  margin-top: 30px;
  height: 250px;
  width: 500px;
  text-align: center;
  background: #f6fdf9a6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
}

.dropzone img {
  height: 90%;
  object-fit: cover;
}

.dropzone p {
  padding: 0 5px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  border-radius: 10px;
  border: 1px dashed #4448456b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.dropzone p svg {
  color: #4ecb79;
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}
